@import 'include/css/variables.scss';

.DockableAdminPanel{

	#simplepanel{
		z-index: 9004;
		top: 0 !important;
		left: 0 !important;
		width: 180px;

		> div{
			box-shadow: none;
			border: none;
			border-radius: 0 0 5px 0;

			.admin-panel-notifications{
				display: inline-block !important;
				position: fixed;
				top: 0;
				left: 10.5em;
				width: 36px;
				height: $gp_nav_height;

				span{
					display: none;
				}

			}

		}

		&:not(.compact) .admin-panel-notifications .submenu{
			display: none !important;
		}

		.toolbar{
			min-width: 180px !important;

			a{
				height: $gp_nav_height;
			}

		}

		.toolbar:after{
			content: '';
			height: $gp_nav_height;
			position: absolute;
			right: 0;
			top: 0;
			width: 1px;
			background-color: lighten($gp_panel_bg, 10%);
		}

		.submenu li > a{
			text-overflow: ellipsis;
		}

		&.minb .toolbar a:nth-child(n+2){
			display: inline-block !important;
		}

		&.compact .admin-panel-notifications .panelgroup2{
			top: $gp_nav_height + 3 !important;
			left: 0 !important;
		}

	}

	body.gpAdmin #admincontent_panel.fixed{
		padding-left: 180px;
	}

}